html{
	height: 100%;
	width: 100%;
}
body{
	height: 100%;
	width: 100%;
}
.head-div {
	height: 15%;
	width: 33%;
	display: inline-block;
	
}
.red {
	background: red;
}
.blue {
	background: blue;
}
.gray {
	background: gray;
}
.paragraph {
	margin: 30px;
	font-size: 20px;
}
.middle-div {
	height: 30%;
	width: 33%;
}
.red1 {
	background: red;
	float: left;
}
.blue1 {
	background: blue;
	width: 67%;
	float: left;
}
.bottom-div {
	height: 15%;

}
.one {
	width: 67%;
	background: blue;
	float: left;
	margin-top: 10px;
}
.two {
	width: 33%;
	background: red;
	float: left;
	margin-top: 10px;
}
.three {
	background: gray;
	width: 80%;
	z-index: 400;
	margin: 0 auto;
	height: 100%;
}